.form {
  display: flex;
  gap: 20px;

  &__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #818182;
  }

  &__input {
    width: 452px;
    height: 38px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #fff;
    padding: 9px 17px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    box-sizing: border-box;

    &::-webkit-input-placeholder {
      color: #abb5be;
    }
  }

  &__select {
    width: 216px;
    height: 38px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #fff;
    padding: 9px 17px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #abb5be;
  }
}

@media (max-width: 767px) {
  .form {
    flex-direction: column;
    align-items: center;
    &__label {
      display: flex;
      flex-direction: column;
    }
    &__input {
      width: 320px;
    }
    &__select {
      width: 320px;
    }
  }
}

@media (max-width: 375px) {
  .form {
    &__input {
      width: 300px;
    }
    &__select {
      width: 300px;
    }
  }
}
